* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* width: 50vw; */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  width: 100%;
  background-color: #000000;
  

}

.App-logo {
  height: 30px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hamburgerMenu {
  /* border: 0.2rem inset rgb(248, 0, 0); */
  color: rgb(209, 19, 19);

  
}

.hamburgerMenu:hover {
  border: 0.2rem inset rgb(204, 11, 11);
  color: rgb(238, 223, 223);
}

nav {
  font-weight: bold;
  background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(41, 255, 255), rgb(22, 19, 7), rgb(0, 0, 0), rgb(247, 213, 22), rgb(0, 0, 0));
  border: 0.2rem outset rgb(224, 224, 224);
  font-family: Arial bold, Helvetica, sans-serif;
  
}

a.links{
  font-size: 20px;
  color: rgb(0, 183, 255);
  text-shadow: #000000 2px 2px ;
}

a.links:hover{
  text-decoration:underline;
}
.logo {
  height: 50px;
  width: auto;
}
.Btn{
  color: white;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(1, 83, 104), rgb(28, 6, 155),rgb(0, 0, 0), rgb(33, 9, 168), rgb(13, 111, 136), rgb(0, 0, 0));
  font-size: 25px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 5px;
  border: inset grey;
  border-Radius: 10%;
  color: rgb(196, 240, 0);
  text-shadow: rgb(0, 0, 0) 2px 2px;
}
.Btn:hover{
border: rgb(219, 255, 16) inset ;
}
.AnswerBtns{
  display: flex;
  flex-direction: column;

}

.NoUnderline {
  text-decoration: none;
}




/* Body */
.body{
  background-color: #000000;
  color: rgb(245, 241, 235);
  min-height: 100vh;
  max-width: 100vw;
  margin: auto;
  


} 


.main{
  margin-top: 70px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.revomonContainer{
  height:auto;
  width:90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;



}
.RevomonIcons{
  /* Full height */
  width: auto;

  max-height:90px;
  margin-right: 12px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-duration: 1s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: bottom;
  
  
}
.RevomonIcons:hover{
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function:ease-out;

}
.Revomons {
  /* Full height */
  width: 9rem;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: bottom;
}

.Revomons:hover {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce {
  25% {
    transform: translateX(50);
  }
  50% {
    transform: translateY(150);
  }
  100% {
    transform: scale(1.9, 1.7);
  }
}

@keyframes bounce {
  25% {
    transform: translateX(50);
  }
  50% {
    transform: translateY(150);
  }
  100% {
    transform: scale(1.9, 1.7);
  }
}
h1{
  color: rgb(255, 255, 0);
  text-shadow: rgb(1, 0, 5) 2px 2px;
  margin: auto;

}
h2{
  color: rgb(213, 216, 39);
  text-shadow: rgb(230, 67, 3) 1px 2px;
  margin: auto;
 
}
.QuizPage{
  margin: auto;
  width: 90vw;


}

/* Footer */
.footer{
  max-width: 100vw;
  box-shadow: inset rgb(254, 255, 253) 2px 2px;
  height: auto;
  background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(62, 48, 63), rgb(0, 0, 0), rgb(52, 26, 59), rgb(36, 1, 43), rgb(0, 0, 0));
  color: #fdfdfda2;
  font-weight: 00;
  
}
.icons{
  margin: 5px 5px 10px 5px;
}

